//import de variables

@import "./utilidades/variables";


/* estilos para tablet */
  
/* estilos de tablet "home" */
@media screen and (min-width: 600px) {
    main {
        padding: 40px; 
        background-image: url("../../img/fondoDePantalla2.jpeg");
        

        h1 {
            font-size: 2em;
        }

        p {
            font-size: 1.1em; 
        }

        .boton {
            margin: 20px; 
        }
    }
}
/* estilos de tablet "locales" */
@media screen and (min-width: 600px) {
    .mapa {
        padding-bottom: 50%; 
    }
}

/* estilos de tablet "contactos" */
@media screen and (min-width: 600px) {
    form {
        width: 100%; 
        max-width: 600px; 

        input[type="text"],
        input[type="email"] {
            width: calc(100% - 16px); 
        }

        label {
            width: auto; 
        }
    }
}
/* estilos de tablet "nosotros" */
@media screen and (min-width: 600px) {
    .galeria {
        width: 80%; 
        grid-template-columns: repeat(4, 1fr); 
        grid-template-rows: repeat(4, 1fr); 
    }
    
    
    .img-uno {
        grid-column: span 2; 
    }
    .img-dos {
        grid-column: span 2; 
    }


    .detallesDeMontana {
        max-width: 100%; 
        padding: 15px; 
        margin: 10px; 

        p {
            margin-bottom: 20px; 
        }

        strong {
            font-size: 1.1rem; 
        }
    }
}



/* estilos de tablet "productos" */
@media screen and (min-width: 600px) {
    .container2 {
        .tarjeta {
            width: 300px; 
        }
    }
}