// paleta de colores 

$color-neg: black;
$color-blan: white;
$color-blan2: aliceblue;
$color-gray:    gray;
// variables generales
$padding-main: 30px;
$margin: 30px;
$padding-button: 10px;
$border-color: rgb(144, 139, 139);
$img-size: 270px;

